@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:ital,wght@1,300&display=swap');

.loginandsignup {
  margin-left: 10px;
  margin-right: 3px;
}

body {
  background-color: #C8C8C8;
}

.banner1 {
  background-image: url("e\ com\ img/car.png ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 550px;
  position: relative;
  margin-top: 1px;

}

.banner2 {
  background-image: url("e\ com\ img/car2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 550px;
  position: relative;
  margin-top: 1px;
}

.banner3 {
  background-image: url("e\ com\ img/car3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 550px;
  position: relative;
  margin-top: 1px;

}

.homebanner1 {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 15%;
  color: #f0efef;
  font-family: 'DM Serif Text', serif;
  margin-top: 1px;
}

.homebanner2 {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 10%;
  color: #f0efef;
  font-family: 'DM Serif Text', serif;
  margin-top: 1px;
}

.homebanner3 {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 20%;
  color: #e8e5e5;
  font-family: 'DM Serif Text', serif;
  margin-top: 1px;
}

.footy {
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0baba;
  height: 50px;
  font-family: 'Lato', sans-serif;
}

.pb-2 {
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-weight: 500;
  font-size: 5vh;
}

.d-grid {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
        
}

.btnn {
  font-size: x-large;
  
}

.nav-item:hover,
.nav-item:active {
  color: red;
  font-weight: 700;
}
.btn:hover{
    font-weight: 500;
}
